.deps
.libs
*.lib
*.pdb
*.dll
*.exe
*.obj
*.map
.*.swp
Debug
Release
*.exp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
libtool
ltmain.sh
compile
libcci.pc
missing
test-driver
c-ci-*.tar.gz
INSTALL
install-sh
*.a
*.o
*.lo
*.la
*.gcno
*.gcda
*.gcov
c-ci---coverage.info
c-ci---coverage
mkinstalldirs
tags
TAGS
*~
aclocal.m4.bak
acountry
adig
ahost
ci_build.h
ci_config.h
ci_config.h.in
stamp-h1
stamp-h2
ci_*pdf
CHANGES.dist
c-ci-*.tar.gz.asc
ci_parse_mx_reply.pdf
/[0-9]*.patch
build
bin/
CMakeFiles/
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
c-ci-config.cmake
c-ci-config-version.cmake
Makefile.inc.cmake
cmake_install.cmake
aminclude_static.am
src/lib/*/.dirstamp

.cifuzz/
.cifuzz-*/
lcov.info
.sarif/
